/* Add CSS styling here */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
    /* CSS Reset Complete Above */
    *{
        box-sizing: border-box;
        padding:0;
        margin:0;
        max-width:100%;
    }
/* General Styles */

    @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
 
html{
     font-size: 62.5%;
     font-family: 'DotGothic16', sans-serif;
 }

 body{
     font-size: 1.8rem;
     line-height: 1.5;
     color:#132B34;
     background-color:whitesmoke;
 }
 
 section{
     padding:4% 0;
 }

 h1, h2, h3{
     letter-spacing: 3px;
     margin-bottom: 2%;
 }

 h2{
     font-size: 3rem;
 }
 
 h3{
     font-size: 2.5rem;
 }


 .title{
    
    width:25%;
    display:flex;
    justify-content: flex-start;
    font-size: 3rem;
    align-self: center;

}
 nav{
     display:flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: row;
     background-color:#4f879e;
     top:0;
     width:100%;
     margin-right:4%;
 }


 a{
     display: flex;
     justify-content: space-between;
     flex-wrap: nowrap;
     align-items: center;
     text-decoration: none;
     color:#132B34;
     font-size: 2.5rem;
     transition:.3s;
 }
  
a:hover{
color:whitesmoke;

}

 /* Home Section Styles */

.left{

    background-image:url(https://tinyurl.com/vsy5a4x8);
    height:65vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    max-width: 30%;
    margin-bottom: 10px;
}

.text-container{
    
    display:flex;
    justify-content: space-around;
    padding:20% 0;
    margin-left:4%;
    max-width: 50%;
}

#home button{
    padding:8% 6%;
    font-size:1.8rem;
    margin-right:4%;
    border-radius:10px;
    color:whitesmoke;
    border:2px solid #132B34;
    background-color: #4f879e;
}

#home button:hover{
    background-color: #132B34;
    border-color: whitesmoke;
}

/* Project Section Styles */

.container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.text{
    max-width: 25%;
    text-align: center;
}
.container .bgimg{

   display:flex; 
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   max-width: 25%;
   margin-top: 3%;
   margin-bottom: 2%;
   background-repeat: no-repeat;
   background-size:cover;
   background-position:bottom center;
   height:50vh;
}

.project1{
    background-image:url('https://tinyurl.com/5fmfdbvx');

}

.project2{
    background-image:url('https://tinyurl.com/jpkc4keb');

}

.project3{
    background-image:url('https://tinyurl.com/3tcz75e5');

}

.project4{
    background-image:url('https://tinyurl.com/5cvxhb32');
  
}

.project5{
    background-image:url('https://tinyurl.com/3a5ynzv4');

}

.project6{
    background-image:url('https://tinyurl.com/5yjf8nb4');

}

.project7{
    background-image:url('https://tinyurl.com/h4xpapmw');

}

.project8{
    background-image:url('https://tinyurl.com/pcjxef9k');

}

/* Footer Content Styles */

footer{
    display:flex;
    flex-wrap:wrap;
    color:whitesmoke;
    background-color:#4f879e;
}

#social{
    display:inline-block;
    width:35%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.contact{
    display: inline-block;
    width:65%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
}
.icon{
display:inline-block
}


.icon2{
    display:inline-block;
}

footer button{
    
    line-height: 1.5;
    padding:3% 2%;
    font-size:1.8rem;
    margin:4%;
    border-radius:5px;
    color:#4f879e;
    border:2px solid #132B34;
    background-color: whitesmoke;
    
}
footer button:hover{
    background-color:#132B34;
    border-color: whitesmoke;
}